@import "tailwindcss";
@import url("./author.css");
body {
  background-color: #0a0a0a;
}

h1,h2,h3,p{
  font-family: "Author-Semibold", sans-serif;
}

h1 {
  color: #ffffff;
  font-weight: 600;
  font-size: 48px;
  line-height: 1;
  letter-spacing: -0.02em;
}

h2 {
  color: #f5f5f5;
  font-weight: 600;
  font-size: 40px;
  line-height: 1.1;
  letter-spacing: -0.01em;
}

h3 {
  color: #ededed;
  font-size: 36px;
  line-height: 1.28;
  letter-spacing: -0.015em;
}

p {
  color: #e8e8e8;
  font-size: 16px;
  line-height: 1.6;
}

.profile-svg,
li,
button {
  cursor: pointer;
}
